# **Synthetic Data Generation**

# 1. Library import

In [15]:
# Import the necessary libraries
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta
from dotenv import load_dotenv
load_dotenv(dotenv_path="credentials.env")
import os
mysql_pwd = os.getenv("MYSQL_PASSWORD")
from sqlalchemy import create_engine
import pymysql
import sqlalchemy
import boto3
import psycopg2
from google.cloud import storage

# 2. Configuration

In [16]:
# Set the value of the different variables
CITY_CENTER = (46.948, 7.447)  # Example: Bern coordinates
NUM_DAYS = 7
NUM_BUSES = 10
NUM_STATIONS = 15
NUM_FEEDBACKS = 300

# 3. Function generators

## 3.1. Bus GPS Trackers

In [17]:
def generate_bus_gps_data():
    timestamps = pd.date_range(end=datetime.now(), periods=NUM_DAYS * 24, freq='h')
    data = []

    for ts in timestamps:
        for bus_id in range(1, NUM_BUSES + 1):
            lat = CITY_CENTER[0] + np.random.normal(0, 0.01)
            lon = CITY_CENTER[1] + np.random.normal(0, 0.01)
            speed = max(0, np.random.normal(30, 10))  # km/h
            route_id = random.choice(['R1', 'R2', 'R3', 'R4'])
            data.append([ts, f'Bus_{bus_id}', lat, lon, speed, route_id])

    return pd.DataFrame(data, columns=['timestamp', 'bus_id', 'latitude', 'longitude', 'speed_kmh', 'route_id'])

## 3.2. Bike-Sharing APIs

In [18]:
def generate_bike_sharing_data():
    timestamps = pd.date_range(end=datetime.now(), periods=NUM_DAYS * 24, freq='h')
    station_ids = [f'ST_{i:03d}' for i in range(1, NUM_STATIONS + 1)]
    data = []

    for ts in timestamps:
        for station_id in station_ids:
            total_docks = random.randint(10, 30)
            available_bikes = max(0, min(total_docks, int(np.random.normal(total_docks * 0.6, 5))))
            lat = CITY_CENTER[0] + np.random.normal(0, 0.02)
            lon = CITY_CENTER[1] + np.random.normal(0, 0.02)
            data.append([station_id, ts, available_bikes, total_docks, lat, lon])

    return pd.DataFrame(data, columns=['station_id', 'timestamp', 'available_bikes', 'total_docks', 'latitude', 'longitude'])

## 3.3. Weather Feeds

In [19]:
def generate_weather_data():
    timestamps = pd.date_range(end=datetime.now(), periods=NUM_DAYS * 24, freq='h')
    data = []

    for ts in timestamps:
        temp = np.random.normal(15, 10)  # Â°C
        precip = max(0, np.random.exponential(1.5)) if random.random() < 0.3 else 0
        wind = np.random.normal(10, 3)  # km/h
        condition = random.choices(['Clear', 'Cloudy', 'Rain', 'Fog', 'Snow'], weights=[0.5, 0.2, 0.2, 0.05, 0.05])[0]
        data.append([ts, round(temp, 1), round(precip, 2), round(wind, 1), condition])

    return pd.DataFrame(data, columns=['timestamp', 'temperature_c', 'precipitation_mm', 'wind_speed_kmh', 'weather_condition'])

## 3.4. Citizen Feedback

In [20]:
def generate_citizen_feedback():
    timestamps = pd.date_range(end=datetime.now(), periods=NUM_DAYS * 24, freq='h')
    locations = ['Downtown', 'Old Town', 'University', 'Station', 'Parkside']
    services = ['Bus', 'Bike', 'Cleanliness', 'Safety', 'Parks']
    sentiments = [-1, 0, 1]  # Negative, Neutral, Positive
    comments = {
        -1: ["Terrible service", "Always late", "Very dirty", "Unsafe area", "No bikes available"],
         0: ["It's okay", "Average experience", "Could be better", "Neutral", "Meh"],
         1: ["Great job!", "Very clean", "Love the bikes", "Safe and reliable", "Excellent service"]
    }

    data = []
    for ts in timestamps:
        location = random.choice(locations)
        service = random.choice(services)
        sentiment = random.choice(sentiments)
        comment = random.choice(comments[sentiment])
        data.append([ts, location, service, sentiment, comment])

    return pd.DataFrame(data, columns=['timestamp', 'location', 'service_type', 'sentiment_score', 'comment_text'])

# 4. Data materialisation

## 4.1. Bus GPS Trackers

In [21]:
bus_df = generate_bus_gps_data()

In [22]:
bus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  1680 non-null   datetime64[ns]
 1   bus_id     1680 non-null   object
 2   latitude   1680 non-null   float64
 3   longitude  1680 non-null   float64
 4   speed_kmh  1680 non-null   float64
 5   route_id   1680 non-null   object
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 78.9+ KB

In [23]:
bus_df.head()

                   timestamp bus_id   latitude  longitude  speed_kmh route_id
0 2025-08-21 09:50:09.466400  Bus_1  46.947741   7.439016  43.485010       R2
1 2025-08-21 09:50:09.466400  Bus_2  46.959127   7.450126  33.280830       R2
2 2025-08-21 09:50:09.466400  Bus_3  46.950625   7.423491  25.786741       R3
3 2025-08-21 09:50:09.466400  Bus_4  46.952444   7.440940  32.156035       R4
4 2025-08-21 09:50:09.466400  Bus_5  46.948083   7.462219   6.185466       R3

## 4.2. Bike-Sharing APIs

In [24]:
bike_df = generate_bike_sharing_data()

In [25]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520 entries, 0 to 2519
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   station_id       2520 non-null   object
 1   timestamp        2520 non-null   datetime64[ns]
 2   available_bikes  2520 non-null   int64
 3   total_docks      2520 non-null   int64
 4   latitude         2520 non-null   float64
 5   longitude        2520 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 118.3+ KB

In [26]:
bike_df.head()

,station_id,timestamp,available_bikes,total_docks,latitude,longitude
0,ST_001,2025-08-21 09:50:10.561796,10,19,46.957489,7.456942
1,ST_002,2025-08-21 09:50:10.561796,11,18,46.950243,7.487554
2,ST_003,2025-08-21 09:50:10.561796,0,10,46.942366,7.462181
3,ST_004,2025-08-21 09:50:10.561796,24,29,46.951979,7.459329
4,ST_005,2025-08-21 09:50:10.561796,9,19,46.949837,7.451964

## 4.3. Weather Feeds

In [27]:
weather_df = generate_weather_data()

In [28]:
weather_df['timestamp'] = pd.to_datetime(weather_df['timestamp'], dayfirst=True)
weather_df['timestamp'] = weather_df['timestamp'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [29]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   timestamp          168 non-null    object
 1   temperature_c      168 non-null    float64
 2   precipitation_mm   168 non-null    float64
 3   wind_speed_kmh     168 non-null    float64
 4   weather_condition  168 non-null    object
dtypes: float64(3), object(2)
memory usage: 6.7+ KB

In [30]:
weather_df.head()

,timestamp,temperature_c,precipitation_mm,wind_speed_kmh,weather_condition
0,2025-08-21 09:50:13,3.6,0.0,9.7,Clear
1,2025-08-21 10:50:13,20.9,0.0,11.3,Clear
2,2025-08-21 11:50:13,7.2,0.0,9.4,Fog
3,2025-08-21 12:50:13,16.3,0.0,8.0,Clear
4,2025-08-21 13:50:13,10.2,0.0,18.4,Clear

## 4.4. Citizen Feedback

In [31]:
feedback_df = generate_citizen_feedback()

In [32]:
feedback_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   timestamp        168 non-null    datetime64[ns]
 1   location         168 non-null    object
 2   service_type     168 non-null    object
 3   sentiment_score  168 non-null    int64
 4   comment_text     168 non-null    object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 6.7+ KB

In [33]:
feedback_df.head()

,timestamp,location,service_type,sentiment_score,comment_text
0,2025-08-21 09:50:18.209632,Downtown,Bike,0,Average experience
1,2025-08-21 10:50:18.209632,Parkside,Safety,1,Great job!
2,2025-08-21 11:50:18.209632,Station,Safety,-1,Terrible service
3,2025-08-21 12:50:18.209632,Downtown,Safety,0,Meh
4,2025-08-21 13:50:18.209632,Station,Cleanliness,1,Very clean

# 5. Export the data

## 5.1. Bus GPS Trackers

In [56]:
engine = create_engine(f"mysql+pymysql://root:{mysql_pwd}@localhost:3308/smart_city_elts")
bus_df.to_sql("bus_data", con=engine, if_exists="replace", index=False)

1680

## 5.2. Bike-Sharing APIs

In [85]:
load_dotenv("credentials.env", override=True)

bike_df.to_csv("bike_data.csv", index=False)

s3 = boto3.client(
    "s3",
    aws_access_key_id=os.getenv("AWS_ACCESS_KEY_ID"),
    aws_secret_access_key=os.getenv("AWS_SECRET_ACCESS_KEY"),
    region_name=os.getenv("AWS_REGION")
)

s3.upload_file("bike_data.csv", "smart-city-elts", "bike-data/bike_data.csv")

## 5.3. Weather Feeds

**Export first to S3**

In [103]:
load_dotenv("credentials.env", override=True)

weather_df.to_csv("weather_data.csv", index=False)

s3 = boto3.client(
    "s3",
    aws_access_key_id=os.getenv("AWS_ACCESS_KEY_ID"),
    aws_secret_access_key=os.getenv("AWS_SECRET_ACCESS_KEY"),
    region_name=os.getenv("AWS_REGION")
)

s3.upload_file("weather_data.csv", "smart-city-elts", "weather-data/weather_data.csv")

**Create the Redshift engine**

In [8]:
load_dotenv("credentials.env", override=True)

conn = psycopg2.connect(
    host="default-workgroup.866868930139.eu-north-1.redshift-serverless.amazonaws.com",
    port=5439,
    dbname="dev",
    user="admin",
    password=os.getenv("REDSHIFT_PASSWORD"),
)
conn.autocommit = True
cur = conn.cursor()

**Create the the table**

In [9]:
cur.execute("""
CREATE SCHEMA IF NOT EXISTS smart_city_elts;
CREATE TABLE IF NOT EXISTS smart_city_elts.weather_data (
  "timestamp" TIMESTAMP,
  temperature_c DOUBLE PRECISION,
  precipitation_mm DOUBLE PRECISION,
  wind_speed_kmh DOUBLE PRECISION,
  weather_condition VARCHAR(200)
);
""")

**Copy from S3 into Redshift**

In [12]:
cur.execute("""
COPY smart_city_elts.weather_data
FROM 's3://smart-city-elts/weather-data/weather_data.csv'
IAM_ROLE 'arn:aws:iam::866868930139:role/RedshiftS3AccessRole'
CSV
IGNOREHEADER 1
TIMEFORMAT 'auto'
DATEFORMAT 'auto'
REGION 'eu-north-1';
""")

cur.close(); conn.close()
print("â Loaded weather_data into Redshift")

â Loaded weather_data into Redshift

## 5.4. Citizen Feedback

In [34]:
load_dotenv("credentials.env", override=True)

client = storage.Client(project=os.getenv("GCP_PROJECT_ID"))  # project optional
bucket = client.bucket("smart-city-elts")
blob = bucket.blob("feedback/feedback_data.parquet")

# write parquet locally (or use in-memory; shown further below)
feedback_df.to_parquet("feedback_data.parquet", index=False)
blob.upload_from_filename("feedback_data.parquet", content_type="application/octet-stream")

print("â Uploaded to gs://smart-city-elts/feedback/feedback_data.parquet")

â Uploaded to gs://smart-city-elts/feedback/feedback_data.parquet